body {
  background-image: url("../images/beige_paper.png");
}

#name {
  background: #4aaaa5;
  width: 20%;
  height: 45px;
  margin-left: 270px;
  text-align: center;
  float: left;
  font-size: 45px;
  padding-bottom: 30px;
}

#aheading {
  font-size: 42px;
  color: #ffffff;
}

#contact {
  float: right;
  font-size: 20px;
  margin-right: 240px;
  padding-top: 15px;
  }
  
#portfolio {
  float: right;
  font-size: 20px;
  padding-top: 15px;
 }

 #about {
    float: right;
    font-size: 20px;
    position:center;
    padding-top: 15px;
    color:#777777;
  }

  

#bio-image {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 20px;
    padding-left: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white; 
  }
  
 
  
  li ul{
    float: right;
    margin-right: 50px;
    margin: auto;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    overflow: auto;
    color: #777777;
  }

#nameHeading{
   margin-left: 25%;
   background-color: #4aaaa5;
 }

 #submit {
   background: #4aaaa5;
 }

 #bar {
    width: 100%;
    background: #777777;
  
 }

 h1 {
   color: #4aaaa5;
   padding-top: 10px;
   padding-left: 20px;
 }


  div {
    margin: auto;
    background: #ffffff;
    width: 960px;
    height: 500px;
  }

p {
    color: #777777;
    font-family: 'Arial', Helvetica Neue, Helvetica, sans-serif;
    word-spacing: 10px;
    line-height: 1.5;
    padding-left: 20px;
    padding-right: 20px;
}

form {
  padding-left: 25px;
}

form {
  color: #777777;
}

#textarea  {
    width: 900px;
    height: 120px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
    color: #777777;
  }

.message {
  color: #777777;
  padding-left: 0px;
}


.footer  p{
  color:#ffffff;
    text-align: center;
    border-top: 8px solid; 
    background-color: #666666;
    width: 100%;
    font-size: 15px;
    position: fixed;
    bottom: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}




    